.main-menu {
    padding-left: 10%;
    .menu-title {
        background-color: $dark-grey-color;
        padding: 1%;
    }
}

.bg {
    background-color: $main-blue-color;
    padding: 1%;
    a {
        color: $black-color;
        font-size: 1.2em;
        font-weight: bold;
        text-decoration: none;
    }
}

.menu-highlight--link {
    color: $white-color;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}

.menu-highlight {
    background-color: $dark-grey-color;
    padding: 1%;
}

.tags {
    padding-left: 10%;
    background-color: $white-color;
    .btn {
        border: none;
        background-color: $light-grey-color;
        align-content: center;
    }
}