$white-color: #fff;
$black-color: #000;
$main-blue-color: #26d2fc;
$yellow-color: #fff51f;
$highlight-orange-colour: #e24602;
$light-grey-color: #e9e9e9;
$dark-grey-color: #333333;
$middle-grey-color: #373737;